footer {
    border-top: 1px solid var(--color-border-soft);
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    align-items: center;

    p {
        font-size: .9rem;
        color: var(--color-text-light);
        font-family: var(--font-body);
    }
}