section {
    width: min(1200px, calc(100% - 3rem));
    margin-inline: auto;
    padding-block: 2rem;
}

@media (max-width: 768px) {
    section {
        width: min(calc(100% - 2rem), 1200px);
    }
}
