body {
    background-color: var(--color-background);
}

a {
    color: var(--color-text);
    text-decoration: none;
}

main {
    min-height: calc(100svh - 125px);
}

.highlight {
    color: var(--color-accent);
}