*, body {
    font-family: var(--font-body);
    font-weight: 400;
}

button {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 500;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}