button {
    border: none;
    outline: none;
    cursor: pointer;
}

.cta-button {
    padding: .8rem 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-surface);

    font-family: var(--font-body);
    font-weight: 700;

    border-radius: 12px;

    transition: background-color .2s ease-out;

    &:hover {
        background-color: var(--color-primary-dark);
    }

    &:focus-visible {
        outline: 3px solid var(--color-accent);
        outline-offset: 3px;
    }
}